# Unreal Engine
Saved/
DerivedDataCache/
Content/Alien*/
Intermediate/
.vscode/
.vs/
*.VC.db
*.sdf
*.sln
*.opensdf
*.suo
*.xcodeproj
*.xcworkspace
*.vsconfig
Binaries/

# Build
Build/
*.log

# Mac
.DS_Store

# Windows
Thumbs.db
