# Unreal Engine
Saved/
DerivedDataCache/
lfs/
hooks/
*/AlienPlanet/
Content/__ExternalActors__/
Intermediate/
.vscode/
.vs/
*.VC.db
*.sdf
*.sln
*.opensdf
*.suo
*.xcodeproj
*.xcworkspace
*.vsconfig
Binaries/

# Build
Build/
*.log

# Mac
.DS_Store

# Windows
Thumbs.db
